@model IEnumerable<pokemonCards.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<!-- search bar -->
<div class="input-group py-3 searchForm">
    <input id="search" class="form-control" type="search" placeholder="Search for" aria-label="Search">
    <!-- search filter dropdown -->
    <select class="form-select" id="searchFilter">
        <option value="name">Name</option>
        <option value="user">User</option>
        <option value="set">Set</option>
        <option value="rarity">Rarity</option>
    </select>
</div>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Holo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Holo)
            </td>
            <td>
                <a class="btn btn-sm btn-primary imgButton" data-serial="@item.ImgCode">Img</a>  <!--TODO: check data has img code-->
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
